 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I’m a remote web developer. I build web applications and software using PHP, Javascript and Laravel.</p>
                </div>
                <div class="col-lg-4">
                    <p>I can work as a freelancer on your development team or I can run a project for you from start to finish.</p>
                </div>
            </div>
        </div>
    </section>