    <section id="reccomendations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Reccomendations</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 reccomendation-item">
                   <div class="row">
                        <div class="col-sm-3">
                            <img src="img/nathan.jpg" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <i>"I would highly recommend James for Magento development. He was able to dramatically improve our website speed and resolve issues previous developers could not resolve. He worked on our project with passion and had many great ideas. " Nathan Templeton - <a href="https://revupsports.com">Revupsports.</a></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 reccomendation-item">
                   <div class="row">
                        <div class="col-sm-3">
                            <img src="img/adam.jpg" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <i>"I worked along side James working on numerous Magento Ecommerce projects. James expresses a keen interest to learn more and further his skills, in his time at Webtise he picked up new abilities at a blistering pace and can take a concept and advance his knowledge on his own accord. His knowledge of Magento is second to none and I would relish in the opportunity to work along side him in the future." - Adam Johnson <a href="https://interjar.com/">Interjar</a></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 reccomendation-item">
                   <div class="row">
                        <div class="col-sm-3">
                           <img src="img/graham.jpg" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <i>"James has proved to be a real asset in developing a new Magento site for my business. I've found James to be highly reliable and knowledgable about the backend development and he also has a keen eye for what works in design terms. I would recommend James to anyone looking for a trustworthy and intelligent developer." - <a href="https://www.linkedin.com/in/graham-sass-a62704b/">Graham Sass</a></i>
                        </div>
                    </div>
                </div>
            </div>
                                <br/>
                    <br/>
            <div class="row">
                <div class="col-sm-4 reccomendation-item">
                   <div class="row">

                        <div class="col-sm-3">
                            <img src="img/gary.jpg" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <i>"James is a diligent and tenacious individual who delivers. His knowledge of Magento is superb and he’s been able to resolve several high priority issues which other Magento specialists haven’t always been able to resolve." - <a href="https://www.linkedin.com/in/garry-beardwood-b187a068/">Gary Beardwood</a></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 reccomendation-item">
                   <div class="row">
                        <div class="col-sm-3">
                            <img src="img/lauren.jpg" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <i>"James has worked on our magento ecommerce site since mid 2011. He knows magento back to front and has always offered a solution to any problem. He fully implemented our new web design and has offered a great support service since." - <a href="https://www.linkedin.com/in/lauren-westwood-75a88016/">Lauren Westwood</a></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>